@import '../../App.css';

.link-board-header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.link-board-header[data-theme='solaire'] {
  font-family: var(--solaire-font);
  font-size: 2rem;
  color: var(--gaeas-white);
}

.link-board-header[data-theme='alucard'] {
  font-family: var(--alucard-font);
  font-size: 2rem;
  color: var(--gaeas-white);
}

.link-board-header[data-theme='gaeas'] {
  font-family: var(--beleran-font);
  font-size: 2rem;
  color: var(--gaeas-white);
}

.link-board-header[data-theme='hhkb'] {
  font-family: var(--hhkb-font);
  font-size: 2rem;
  color: var(--hhkb-purple);
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

#link-mode-select {
  font-size: 1.5rem;
}

/*Keyframes for blinking cursor*/
@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
