@import '../../App.css';

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  height: 10%;
}

.nav-bar[data-theme='alucard'] {
  background: linear-gradient(
    90deg,
    rgba(0, 2, 31, 1) 0%,
    rgba(10, 9, 58, 1) 50%,
    rgba(28, 29, 93, 1) 100%
  );
  color: white;
  font-family: var(--alucard-font);
  font-size: 1.4rem;
}

.nav-bar[data-theme='gaeas'] {
  background: var(--gaeas-background);
  color: var(--gaeas-white);
  font-family: var(--beleran-font);
}

.nav-bar[data-theme='solaire'] {
  background: var(--solaire-brick-red);
  color: var(--gaeas-white);
  font-family: var(--solaire-font);
}

.nav-bar[data-theme='hhkb'] {
  background: var(--hhkb-nav-bar);
  color: var(--hhkb-text);
  font-family: var(--hhkb-font);
}
