@import '../../App.css';

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  height: 7.5%;
}

.nav-bar[data-theme='alucard'] {
  background: linear-gradient(
    90deg,
    rgba(0, 2, 31, 1) 0%,
    rgba(10, 9, 58, 1) 50%,
    rgba(28, 29, 93, 1) 100%
  );
  color: white;
  font-family: var(--alucard-font);
}

.nav-bar[data-theme='gaeas'] {
  background: var(--gaeas-background);
  color: var(--gaeas-white);
  font-family: var(--beleran-font);
}

.nav-bar[data-theme='solaire'] {
  background: var(--solaire-brick-red);
  color: var(--gaeas-white);
  font-family: var(--solaire-font);
}

.nav-bar[data-theme='hhkb'] {
  background: var(--hhkb-nav-bar);
  color: var(--hhkb-text);
  font-family: var(--hhkb-font);
}

select {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1080px) {
  .nav-bar {
    max-height: 10%;
  }
}

@media only screen and (max-width: 1090px) {
  .nav-bar {
    max-height: 10%;
  }
}
