@import '../../App.css';

.link-board {
  grid-area: links;
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 2rem;
}

.link-board[data-theme="alucard"]>ul>li>a {
  font-family: var(--alucard-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--gaeas-white);
}

.link-board[data-theme="gaeas"]>ul>li>a {
  font-family: var(--beleran-font);
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--gaeas-white);
}

.link-board[data-theme="solaire"]>ul>li>a {
  font-family: var(--solaire-font);
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--gaeas-white);
}

.link-board[data-theme="solaire"]>ul>li>a:hover {
  color: var(--solaire-green);
}

.link-board[data-theme="alucard"]>ul>li>a:hover {
  color: var(--alucard-gold);
}

.link-board[data-theme="gaeas"]>ul>li>a:hover {
  color: var(--solaire-green);
}
