@import '../../App.css';

.link-board {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding-top: 1rem;
  justify-items: center;
  gap: 1rem;
}

.link-board-container {
  grid-area: links;
  text-align: center;
  display: grid;
}

/* The Alucard font doesn't scale well so it's bigger than the others*/
.link-board[data-theme='alucard']>.list-of-links>.list-title {
  font-size: 2.5rem;
}

.link-board[data-theme='alucard']>.list-of-links>li>a {
  font-size: 1.5rem;
}
