@import './reset.css';

:root {
  /*Alucard Theme Variables */
  --alucard-dark-blue: #00011a;
  --alucard-light-blue: #1a1b5a;
  --alucard-font: "alucard", sans-serif;

  /* Ent theme Variables */
  --atkinson-font: "atkinson-hyperlegebile", sans-serif;
  --ent-background: #374145;
  --ent-eggshell: #D3C6AA;
  --ent-white: #fffbef;
  --ent-green: #A7C080;

  /* Solaire theme Variables */
  --solaire-brick-red: #613e33;
  --solaire-background: #130c0a;
  --solaire-green: #77a03f;
  --solaire-font: "toshiba-sat", sans-serif;
}

@font-face {
  font-family: "alucard";
  src: url('assets/fonts/Symphony of the Night.woff') format("woff");
}

@font-face {
  font-family: "kirsch";
  src: url('assets/fonts/Kirsch Nerd Font Regular.woff') format("woff");
}

@font-face {
  font-family: "toshiba-sat";
  src: url('assets/fonts/WebPlus_ToshibaSat_8x14.woff') format("woff");
}
