@import "./reset.css";

:root {
  /*Alucard Theme Variables */
  --alucard-dark-blue: #00011a;
  --alucard-light-blue: #1a1b5a;
  --alucard-font: "alucard", sans-serif;
  --alucard-gold: #fc9805;
  --alucard-red: #df0b0c;

  /* Gaea's Cradle theme Variables */
  --beleran-font: "beleran", sans-serif;
  --gaeas-background: #744d29ff;
  --gaeas-eggshell: #d3c6aa;
  --gaeas-white: #fffbef;
  --gaeas-green: #787116;
  --gaeas-blue-grey: #899d9a;
  /* The Card Border is based on the physical card from Urza's Saga */
  --gaeas-card-border: #ad9a93;
  --gaeas-tree: #8e6e3c;
  --gaeas-tree-nut: #473427;

  /* HHKB Theme Variables (it's just Catppuccin Mocha)  */
  --hhkb-font: "torus", sans-serif;
  --hhkb-nav-bar: #313244;
  --hhkb-orange: #fab387;
  --hhkb-text: #cdd6f4;
  --hhkb-background: #1e1e2e;
  --hhkb-purple: #cba6f7;
  --hhkb-teal: #94e2d5;

  /* Solaire Theme Variables */
  --solaire-brick-red: #613e33;
  --solaire-background: #130c0a;
  --solaire-green: #77a03f;
  --solaire-font: "toshiba-sat", sans-serif;
  --solaire-orange: #e9967a;
  --solaire-text: #ead7d1;
}

#root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Imported Fonts */
@font-face {
  font-family: "alucard";
  src: url("./fonts/Symphony of the Night.woff") format("woff");
}

@font-face {
  font-family: "kirsch";
  src: url("./fonts/Kirsch Nerd Font Regular.woff") format("woff");
}

@font-face {
  font-family: "toshiba-sat";
  src: url("./fonts/WebPlus_ToshibaSat_8x14.woff") format("woff");
}

@font-face {
  font-family: "beleran";
  src: url("./fonts/Beleren2016-Bold.woff") format("woff");
}

@font-face {
  font-family: "torus";
  src: url("./fonts/Torus_Regular.woff") format("woff");
}

body {
  height: 100%;
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-areas: ". portrait links .";
  grid-template-columns: 1fr 1fr 2fr 1fr;
  place-items: center;
  gap: 50px;
  height: 92.5%;
}

.main-container[data-theme="gaeas"] {
  background-color: var(--gaeas-tree-nut);
}

.main-container[data-theme="solaire"] {
  background-color: var(--solaire-background);
}

.main-container[data-theme="alucard"] {
  background-color: var(--alucard-dark-blue);
}

.main-container[data-theme="hhkb"] {
  background-color: var(--hhkb-background);
}

li[data-theme="alucard"] {
  font-family: var(--alucard-font);
  color: var(--gaeas-white);
}

li[data-theme="gaeas"] {
  font-family: var(--beleran-font);
  color: var(--gaeas-white);
}

li[data-theme="solaire"] {
  font-family: var(--solaire-font);
  color: var(--solaire-text);
}

select {
  font-size: 1.5rem;
}

/**
* Smaller screens than 1080p will have the layout in a column format
*/
@media only screen and (max-width: 1000px) {
  .main-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

/**
* Media query for iPad Air
*/

@media only screen and (min-width: 2048px) and (min-height: 2732px) {
  .main-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
