@import '../../App.css';

.portrait {
  max-width: 384px;
  height: auto;
}

.portrait[data-theme='alucard'] {
  border: 3px solid var(--alucard-light-blue);
}

.portrait[data-theme='gaeas'] {
  border: 3px solid var(--gaeas-blue-grey);
}

.portrait[data-theme='solaire'] {
  border: 3px solid var(--solaire-orange);
}
