@import '../../App.css';

a {
  font-size: 1.2rem;
}

.list-title {
  font-size: 1.5rem;
}

/* This was easier than prop drilling the theme */

/* Alucard Link Styling */
.link-board[data-theme='alucard']>ul>li>a {
  font-family: var(--alucard-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--gaeas-white);
}

.link-board[data-theme='alucard']>ul>.list-title {
  font-family: var(--alucard-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--alucard-red);
}

/* Gaeas Cradle Link Styling */
.link-board[data-theme='gaeas']>ul>li>a {
  font-family: var(--beleran-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--gaeas-white);
}

.link-board[data-theme='gaeas']>ul>.list-title {
  font-family: var(--beleran-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--gaeas-eggshell);
}

/* Solaire Link Styling */

.link-board[data-theme='solaire']>ul>li>a {
  font-family: var(--solaire-font);
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--solaire-text);
  width: auto;
}

.link-board[data-theme='solaire']>ul>.list-title {
  font-family: var(--solaire-font);
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--solaire-orange);
}

/* HHKB Link Styling */

.link-board[data-theme='hhkb']>ul>li>a {
  font-family: var(--hhkb-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--hhkb-text);
}

.link-board[data-theme='hhkb']>ul>.list-title {
  font-family: var(--hhkb-font);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--hhkb-orange);
}

/* Hover Link Styling */
.link-board[data-theme='solaire']>ul>li>a:hover {
  color: var(--solaire-green);
}

.link-board[data-theme='alucard']>ul>li>a:hover {
  color: var(--alucard-gold);
}

.link-board[data-theme='gaeas']>ul>li>a:hover {
  color: var(--solaire-green);
}

.link-board[data-theme='hhkb']>ul>li>a:hover {
  color: var(--hhkb-teal);
}
